@page "/addemployees"
@using CPRG211_Group1_FinalProject.Classes

<a href="/employees" class="btn btn-secondary" style="margin-bottom: 30px;">
	Back to Employees Main Page
</a>

<h3>Add New Employee</h3>

<form class="d-flex flex-wrap gap-4">
	<div style="width: 30%;">
		<label>Employee ID:</label>
		<input class="form-control" placeholder="Employee ID" @bind="employeeid" />
	</div>

	<div style="width: 30%;">
		<label>First Name:</label>
		<input class="form-control" placeholder="First Name" @bind="firstname" />
	</div>

	<div style="width: 30%;">
		<label>Last Name:</label>
		<input class="form-control" placeholder="Last Name" @bind="lastname" />
	</div>

	<div style="width: 30%;">
		<label>Position:</label>
		<input class="form-control" placeholder="Position" @bind="position" />
	</div>

	<div style="width: 30%;">
		<label>Salary:</label>
		<input class="form-control" placeholder="Salary" @bind="salary" />
	</div>

	<div style="width: 30%;">
		<label>Start Date:</label>
		<input class="form-control" placeholder="Start Date" @bind="startdate" />
	</div>

	<div style="width: 30%;">
		<label>Hours:</label>
		<input class="form-control" placeholder="Hours" @bind="hours" />
	</div>

	<div style="width: 30%;">
		<label>Staff Type:</label>
		<select class="form-control" @bind="staffType">
			<option value="Kitchen Staff">Kitchen Staff</option>
			<option value="Front of House">Front of House</option>
		</select>
	</div>

	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100" style="white-space: nowrap;" @onclick="MakeEmployee">
			Add Employee
		</button>
	</div>
</form>

@success

@code {
	private string employeeid;
	private string firstname;
	private string lastname;
	private string position;
	private string startdate;
	private string salary;
	private string hours;
	public string success = string.Empty;
	private string staffType;





	public void MakeEmployee()
	{
		try
		{
			EmployeeManager.CreateEmployee(employeeid, firstname, lastname, position, salary, startdate, hours, staffType);
			success = "Employee added";
		}
		catch(Exception ex)
		{
			success = ex.Message;
		}

	}
}
