@page "/addemployees"
@using CPRG211_Group1_FinalProject.Classes

<h3>Add New Employee</h3>
<br />
<div style="padding-top:10px">
	<label>Employee ID: </label> <br />
	<input type="text" placeholder="Employee ID" style="width:50%" class="form-control" @bind="employeeid" />

</div>

<div style="padding-top:10px">
	<label>First Name: </label> <br />
	<input type="text" placeholder="First Name" style="width:50%" class="form-control" @bind="firstname" />
</div>

<div style="padding-top:10px">
	<label>Last Name: </label> <br />
	<input type="text" placeholder="Last Name" style="width:50%" class="form-control" @bind="lastname" />
</div>

<div style="padding-top:10px">
	<label>Position: </label> <br />
	<input type="text" placeholder="Position" style="width:50%" class="form-control" @bind="position" />
</div>

<div style="padding-top:10px">
	<label>Salary: </label> <br />
	<input type="text" placeholder="Salary" style="width:50%" class="form-control" @bind="salary" />
</div>

<div style="padding-top:10px">
	<label>Start Date: </label> <br />
	<input type="text" placeholder="Start Date" style="width:50%" class="form-control" @bind="startdate" />
</div>

<div style="padding-top:10px; padding-bottom:20px">
	<label>Hours: </label> <br />
	<input type="text" placeholder="Hours" style="width:50%" class="form-control" @bind="hours" />
</div>

<div style="padding-top:10px;">
	<select class="form-select" style="width: 50%" @bind="staffType">
		<option value="@k">Kitchen Staff</option>
		<option value="@f">Front of House</option>
	</select>
</div>
<br />
@success
<br />
<br />

<div class=" flex-grow-1" style="width: 50%;margin:30px, 0px, 30px">
	<button type="button" class="btn btn-primary w-100"
	style="white-space: nowrap;" @onclick="MakeEmployee">
		Add Employee
	</button>
</div>

<br/>
<div class=" flex-grow-1" style="width: 50%;margin-bottom:30px">
	<button type="button" class="btn btn-primary w-100"
	style="white-space: nowrap;" @onclick="makeDemo">
		Add Demo Employee
	</button>
</div>
@demomessage
<br />

@code {
	private string employeeid;
	private string firstname;
	private string lastname;
	private string position;
	private string startdate;
	private string salary;
	private string hours;
	public string success = string.Empty;
	private string staffType = "Kitchen Staff";

	private string k = "Kitchen Staff";
	private string f = "Front Of House";

	public void MakeEmployee()
	{
		try
		{
			success = EmployeeManager.CreateEmployee(employeeid, firstname, lastname, position, salary, startdate, hours, staffType);
		}
		catch(Exception ex)
		{
			success = ex.Message;
		}
	}
	private string demomessage = string.Empty;
	public void makeDemo()
	{
		EmployeeManager.addDemoEmployee();
		demomessage = "Demo Employee Added";
	}
}
