@page "/additem"
@using CPRG211_Group1_FinalProject.Classes

<h3>Add New Menu Item</h3>

<div style="padding-top:10px">
	<label>Item ID: </label> <br />
	<input type="text" placeholder="Item ID" style="width:50%" @bind="itemId" />

</div>

<div style="padding-top:10px">
	<label>Item Name: </label> <br />
	<input type="text" placeholder="Item Name" style="width:50%" @bind="itemName" />
</div>

<div style="padding-top:10px">
	<label>Item Price: </label> <br />
	<input type="text" placeholder="Item Price" style="width:50%" @bind="itemPrice" />
</div>

<div style="padding-top:10px">
	<label>Item Type: </label> <br />
	<input type="text" placeholder="Item Type" style="width:50%" @bind="itemType" />
</div>

<div class=" flex-grow-1" style="width: 190px; padding-top:10px">
	<button type="button" class="btn btn-primary w-100"
			style="white-space: nowrap;" @onclick="MakeMenuItem">
		Add Item
	</button>

</div>
@success

@code {
	private string itemId;
	private string itemName;
	private string itemPrice;
	private string itemType;

	public string success = string.Empty;

	public void MakeMenuItem()
	{
		try
		{
			MenuManager.CreateMenuItem(itemId, itemName, itemPrice, itemType);
			success = "Menu item added!";
		}
		catch (Exception ex)
		{
			success = ex.Message;
		}

	}
}
