@page "/addreservations"
@using CPRG211_Group1_FinalProject.Classes
@using CPRG211_Group1_FinalProject.Exceptions
@using MySqlConnector

<a href="/reservations" class="btn btn-secondary" style="margin-bottom: 30px;">
	Back to Main Reservations Page
</a>


<h3 style="text-align: center; margin-bottom: 25px">Add New Reservation</h3>

@*adding reservation*@
<form class="d-flex gap-4">
	<div class="form-group flex-grow-1">
		<label for="reservationID">Reservation ID:</label>
		<input type="text" class="form-control" id="id" @bind="reservationId">
	</div>
	<div class="form-group flex-grow-1">
		<label for="name">Name:</label>
		<input type="text" class="form-control" id="name" @bind="name">
	</div>
	<div class="form-group flex-grow-1">
		<label for="groupsize">Group Size:</label>
		<input type="text" class="form-control" id="size" @bind="groupSize">
	</div>
	<div class="form-group flex-grow-1">
		<label for="date">Date:</label>
		<input type="text" class="form-control" id="date" @bind="date">
	</div>
	<div class="form-group flex-grow-1">
		<label for="time">Time:</label>
		<input type="text" class="form-control" id="time" @bind="time">
	</div>
	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100" style="white-space: nowrap;" @onclick="MakeReservation">
			Add Reservation
		</button>
	</div>
</form>
@success

@code {
	private string reservationId;
	private string name;
	private string groupSize;
	private string date;
	private string time;
	public string success = string.Empty;

	public void MakeReservation()
	{
		try
		{
			ReservationManager.makeReservation(reservationId, name, groupSize, date, time);
			success = "Reservation added!";
		}
		catch (MySqlException ex)
		{
			if (ex.Message.StartsWith("Duplicate entry"))
			{
				DuplicateIdException exc = new DuplicateIdException();
				success = exc.Message;
			}
			else
			{
				success = ex.Message;
			}
		}
		catch (Exception ex)
		{
			success = ex.Message;
		}

	}
}
