@page "/addreservations"
@using CPRG211_Group1_FinalProject.Classes

<a href="/reservations" class="btn btn-secondary" style="margin-bottom: 30px;">
	Back to Main Reservations Page
</a>


<h3 style="text-align: center; margin-bottom: 25px">Add New Reservation</h3>

@*adding reservation*@
<form class="d-flex gap-4">
	<div class="form-group flex-grow-1">
		<label for="code">Reservation ID:</label>
		<input class="form-control" placeholder="Reservation ID" id="reservationId">
	</div>
	<div class="form-group flex-grow-1">
		<label for="code">Name:</label>
		<input class="form-control" placeholder="Name" id="name">
	</div>
	<div class="form-group flex-grow-1">
		<label for="airline">Group Size:</label>
		<input class="form-control" placeholder="Group Size" id="groupSize">
	</div>
	<div class="form-group flex-grow-1">
		<label for="name">Date:</label>
		<input class="form-control" placeholder="Date" id="date">
	</div>
	<div class="form-group flex-grow-1">
		<label for="name">Time:</label>
		<input class="form-control" placeholder="Time" id="time">
	</div>
	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100" style="white-space: nowrap;">
			Add Reservation
		</button>
	</div>
</form>

@code {
   
}
