@page "/addreservations"
@using CPRG211_Group1_FinalProject.Classes

<h3>Reservations</h3>

@*adding reservation*@

<div class="text-center mb-2">
	<h5>Add Reservation</h5>
</div>
<form class="d-flex gap-4">
	<div class="form-group flex-grow-1">
		<label for="reservationID">Reservation ID:</label>
		<input type="text" class="form-control" id="id" @bind="reservationID">
	</div>
	<div class="form-group flex-grow-1">
		<label for="name">Name:</label>
		<input type="text" class="form-control" id="name" @bind="name">
	</div>
	<div class="form-group flex-grow-1">
		<label for="groupsize">Group Size:</label>
		<input type="text" class="form-control" id="size" @bind="groupSize">
	</div>
	<div class="form-group flex-grow-1">
		<label for="date">Date:</label>
		<input type="text" class="form-control" id="date" @bind="date">
	</div>
	<div class="form-group flex-grow-1">
		<label for="time">Time:</label>
		<input type="text" class="form-control" id="time" @bind="time">
	</div>
	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100" style="white-space: nowrap;" @onclick="MakeReservation">
			Add Reservation
		</button>
	</div>
</form>
@success

@code {
	private string reservationID;
	private string name;
	private string groupSize;
	private string date;
	private string time;
	public string success = string.Empty;
   
	public void MakeReservation()
	{
		try
		{
			ReservationManager.makeReservation(reservationID, name, groupSize, date, time);
			success = "Reservation added";
		}
		catch (Exception ex)
		{
			success = ex.Message;
		}

	}
}
