@page "/employees"
<h3>Employees</h3>

<form class="d-flex gap-4">
	<div style="width: 30%">
		<label> Employee ID: </label>
		<input type="text" />
	</div>
	<div style="width: 30%" >
		<label> First Name: </label>
		<input type="text" />
	</div>
	<div style="width:30%">
		<label> Last Name: </label>
		<input type="text" />
	</div>
	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100"
				style="white-space: nowrap;">
			Find Employee
		</button>
	</div>

</form>

<div style="padding-top:10px">
	<label>Employee ID: </label> <br />
	<input type="text" placeholder="Employee ID" style="width:50%" />
</div>

<div style="padding-top:10px">
	<label>First Name: </label> <br />
	<input type="text" placeholder="First Name" style="width:50%" />
</div>

<div style="padding-top:10px">
	<label>Last Name: </label> <br />
	<input type="text" placeholder="Last Name" style="width:50%" />
</div>

<div style="padding-top:10px">
	<label>Position: </label> <br />
	<input type="text" placeholder="Position" style="width:50%" />
</div>

<div style="padding-top:10px">
	<label>Salary: </label> <br />
	<input type="text" placeholder="Salary" style="width:50%"/>
</div>

<div style="padding-top:10px">
	<label>Start Date: </label> <br />
	<input type="text" placeholder="Start Date" style="width:50%" />
</div>

<div style="padding-top:10px; padding-bottom:20px">
	<label>Hours: </label> <br />
	<input type="text" placeholder="Hours" style="width:50%"/>
</div>

@* buttons *@

<form class="d-flex gap-4">
		<button type="button" class="btn btn-primary w-100"
				style="white-space: nowrap; width:100px">
			Add Employee
		</button>
	

	
		<button type="button" class="btn btn-primary w-100"
				style="white-space: nowrap;">
			Edit Employee
		</button>
	
		<button type="button" class="btn btn-primary w-100"
				style="white-space: nowrap;">
			Remove Employee
		</button>
</form>



@code {

}
