@page "/employees"
<h3>Employees</h3>

<form class="d-flex gap-4">
	<div style="width: 30%">
		<label> Employee ID: </label>
		<input type="text" />
	</div>
	<div style="width: 30%" >
		<label> First Name: </label>
		<input type="text" />
	</div>
	<div style="width:30%">
		<label> Last Name: </label>
		<input type="text" />
	</div>
	<div class="align-self-end flex-grow-1" style="width: 190px;">
		<button type="button" class="btn btn-primary w-100"
				style="white-space: nowrap;">
			Find Employee
		</button>
	</div>

</form>



@code {

}
