@page "/"
@using CPRG211_Group1_FinalProject.Classes

<h1>Ascent</h1>

Hello, welcome to the Restaurant Management System!

@code{

	private EmployeeDbAccessor employeeDbAccessor = new EmployeeDbAccessor();
	private ReservationDbAccessor reservationDbAccessor = new ReservationDbAccessor();
	private MenuDbAccessor menuDbAccessor = new MenuDbAccessor();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		employeeDbAccessor.InitializeDatabase();
		reservationDbAccessor.InitializeDatabase();
		menuDbAccessor.InitializeDatabase();
	}
}