@page "/reservations"
@using CPRG211_Group1_FinalProject.Classes

<h3>Reservations</h3>

@*finding reservation*@

<div class="text-center mt-5">
	<h5>Find Reservation</h5>
</div>

<div class="d-flex flex-column gap-3">
	<div class="form-group">
		<label for="name">Search Name:</label>
		<input type="text" class="form-control" id="name" />
	</div>

	<div class="form-group">
		<label for="time">Search Time:</label>
		<input type="text" class="form-control" id="time" />
	</div>

	<div>
		<button type="button" class="btn btn-primary w-100">
			Find Reservation
		</button>
	</div>
</div>

@*reservation dropdown*@

<div class="form-group mt-3">
	<select class="form-select"></select>
</div>

@*buttons*@

<div class="d-flex justify-content-center mt-4">
	<a href="/addreservations" class="btn btn-primary" style="min-width: 200px;">
		Add Reservation
	</a>
</div>

<div class="d-flex justify-content-center mt-4">
	<a href="/removereservations" class="btn btn-primary" style="min-width: 200px;">
	Remove Reservation
	</a>
</div>
@code {
   
}
